/* Colores base */
body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #fff;
  color: #000;
}


.headerweb {
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center;     /* Centra verticalmente */
  height: 50px;           /* Ajusta según tu diseño */
  background-color: #000; /* Opcional para visualizar el área */
  padding: 10px 20px;
}

.logo {
  color: #fff; /* Blanco */
}



/* Por defecto, ocultamos el header móvil */
.headermovil {
  display: none;
}

/* Mostramos el header móvil solo en pantallas pequeñas (móviles) */
@media screen and (max-width: 768px) {
  .headerweb {
    display: none;
  }
  .headermovil {
    display: block;
  }

  .headermovil {
    display: flex;
    align-items: center;         /* Centra verticalmente */
    justify-content: center;     /* Centra horizontalmente el contenido */
    position: relative;
    height: 90px;
    padding: 0 20px;
  }

  .hamburger-icon {
    position: absolute;
    left: 20px;                  /* Separado del borde izquierdo */
    top: 50%;                    /* Centrado verticalmente */
    transform: translateY(-50%); /* Ajuste fino para centrar */
    width: 35px;
    height: 35px;
    object-fit: contain;
    cursor: pointer;
  }

  .menu-icon {
    display: flex;
    align-items: center;
    
  }



  .logo {
    color: #000;
    font-size: 20px;
    margin: 0 auto; /* Centra el logo horizontalmente */
   
  }



}
