/* Colores base */
body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #fff;
  color: #000;
}


.headerweb {
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center;     /* Centra verticalmente */
  height: 50px;           /* Ajusta según tu diseño */
  background-color: #000; /* Opcional para visualizar el área */
  padding: 10px 20px;
}

.logo {
  color: #fff; /* Blanco */
}



/* Por defecto, ocultamos el header móvil */
.headermovil {
  display: none;
}

/* Mostramos el header móvil solo en pantallas pequeñas (móviles) */
@media screen and (max-width: 768px) {
  .headerweb {
    display: none;
  }
  .headermovil {
    display: block;
  }
}
